<header>
        <nav>
            <div class="logo"><a href="/">Express <span>CRUD</span></a></div>
            <div class="menu">
            <ul>
                <li>Hi {{name}}.!</li>
                <li><a href='/'>View</a></li>
                <li><a href="/login">Logout [=></a></li>
            </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <h3>+ADD PRODUCTS</h3>
            {{#if msg}}
             <div class="alert">{{msg}}</div>
            {{/if}}
        <form action="add-product" method="Post">
            <div>
                <label for="title">Title</label>
                <input type="text" name="title" placeholder="title.." class="u-full-width">
            </div>
            <div>
                <label for="author">Author</label>
                <input type="text" name="author" placeholder="Author.." class="u-full-width">
            </div>
            <div>
                <label for="price">Price</label>
                <input type="text" name="price" placeholder="price.." class="u-full-width">
            </div>
            <div>
            <button type="submit" class="button-primary">Add product [-></button>
            </div>
        </form>
        </div>
    </main>